* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #4a2858;
    background: linear-gradient(#501a74, #811aa0);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  }

.container {
    min-height: 100vh;
    flex-direction: column;
}

.btn {
    color: #fff;
    margin-left: 15px;
    margin-top: 10px;
    background-color: transparent;
}


.form-group small{
    visibility: hidden;
    color: rgb(241, 40, 40);
}
.error small{
    visibility: visible;
}

.error input {
    border: 3px solid rgb(245, 9, 9);
    outline: color rgb(245, 9, 9);
}

form-group {
    position: absolute;
    right: 0;
}

.success input {
    border: 3px solid rgb(159, 160, 159);
    outline: color rgb(136, 221, 79);
}

.footer {
    text-align: center;
}







.user {
    box-shadow: 5px 5px 10px #333;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: rgb(81, 144, 187);
    background: linear-gradient(rgb(88, 88, 88), #bbbbbb);
    background-repeat: no-repeat;
    color: #333;
    text-align: center;
   
}